<div class="container">
    <div class="row">
        <div class="col-6 col-md-4">
          <select class="form-control" style="margin: 10px" [formControl]="searchByCategoryControl" name="searchByCategory">
              <option value="0">Select category</option>
              <option *ngFor="let category of listCategories" [value]="category.id">{{category.name}}</option>
          </select>
        </div> 
        <div class="col-7 col-md-4" style="margin: 10px">
            <button type="button" class="btn btn-info" (click)="getListProductBycategory()" [disabled] = "buttonDisabled">Search</button>
        </div> 
        <div class="col-9 col-md-4" style="margin: 10px">
          <button type="button" mat-stroked-button color="accent" (click)="onSelectCreate(create)">Create</button>
      </div>
        <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>AMOUNT</th>
                <th>PRICE</th>
                <th style="padding-left: 50px">ACTION</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of list_products">
                <td><p class="btn btn-primary active" role="button" (click) = "onSelectDetail(product.id, 'detail')">{{product.id}}</p></td>
                <td>{{product.name}}</td>
                <td>{{product.amount}}</td>
                <td>{{product.price | number}} </td>
                <td>
                  <button type="button" mat-raised-button color="primary" (click) = "onSelectUpdate(product.id, 'update')">Update</button>
                  <button mat-raised-button color="warn" (click) = "confirmDialog(product.id)" style="margin-left: 5px">Delete</button>
                </td>
               
                
              </tr>
            </tbody>
          </table>
          <a class="btn btn-outline" [class.disabled]="page==0" >
            <i class="material-icons" (click)="clickPrePage()">Pre</i>
          </a>
          <ul class = "nav nav-pills">
            <li class="nac-item" *ngFor="let p of pageArray ; let i=index">
              <a class="nav-link" href="" (click)="setPage(i,$event)" [ngClass]="{'active':i==page}">{{i+1}}</a>
            </li>
          </ul>
          <a class="btn btn-outline" [class.disabled]="page==totalPage">
          <i class="material-icons" (click)="clickNextPage()">Next</i>
        </a>
    </div>       
</div>
